<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Column Two Values</title>
</head>
<body>
<header>
        <img src="{{ url_for('static', filename='your-logo.png') }}" alt="Your Logo">
      </header>
    <form action="{{ url_for('display_selected_value') }}" method="post">
        <label for="column_two_values">Select a value:</label>
        <select name="selected_value" id="column_two_values">
            {% for value in column_two_values %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
